#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>

/{
    /omit-if-no-ref/ zip_auto_mouse_layer_split: zip_auto_mouse_layer_split {
        compatible = "zmk,input-processor-temp-layer";
        #input-processor-cells = <2>;
        excluded-positions = <31 32 37 38>;
    };

    split_inputs {
        #address-cells = <1>;
        #size-cells = <0>;

        pointing_device_split: pointing_device_split@0 {
            compatible = "zmk,input-split";
            reg = <0>;
        };
    };

    pointing_device_split_listener: pointing_device_split_listener {
        compatible = "zmk,input-listener";
        device = <&pointing_device_split>;
        status = "okay";
        input-processors = <
            &zip_auto_mouse_layer_split 1 86400000
            &zip_xy_transform (INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)
        >;

        scroll_layers {
            layers = <2 3>;
            input-processors = <
                &zip_xy_to_scroll_mapper
                &zip_scroll_transform (INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)
            >;
        };
     };
};
